#nb {
  
 border-radius: ;
    
        border: 10px solid black;
        margin: 20px;
      }

    .menu {
 
        text-decoration-style: dotted;
       
       
     
        padding-right: 10px;
        

        
        box-shadow: black;
        
        border-radius: 30px;
}
.body background{
  width: max-content;
}
#curpro{
  font-size: 70px;
  padding-top: 10px;
  color: rgb(11, 83, 11);
  
}
.infos{
  font-size: 70px;
  color: rgb(11, 83, 11);
}
.contact{
  font-size: 70px;
  color: rgb(11, 83, 11);
}

#intro{
  display: flex;
  

}
  
#proj{
  display:flex;
width:70px ;
height: 70px;
}
.my films{
  justify-content: space-around;
  align-content: space-between;
}
#leslang{
  display: flex;
  justify-content: center;
justify-content: space-evenly;
  
}
.rens{
  display: flex;
  justify-content: space-evenly;
}
.contact us{
  justify-items: end;
}
  

  
  
  
  





